<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers and Following</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/followers.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">ReadRealm</a>
            <ul class="nav-links">
                <li><a href="/catalog" class="btn">Catalog</a></li>
                <li><a href="{{ url_for('user_profile', username=get_username_from_session()) }}" class="btn">Profile</a></li>
                <li><a href="{{ url_for('logout') }}" class="btn">Logout</a></li>
                <!-- Add other navigation links as needed -->
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- Display the message if it exists -->
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
        
        <h1>{{ username }}</h1>
        <h2>Followers</h2>
        <ul>
            {% for follower in followers %}
                <li><i class="fas fa-user"></i> <a href="{{ url_for('user_profile', username=follower.Username) }}">{{ follower.Username }}</a></li>
            {% else %}
                <li>No followers</li>
            {% endfor %}
        </ul>
        <h2>Following</h2>
        <ul>
            {% for following in followings %}
                <li><i class="fas fa-user-friends"></i> <a href="{{ url_for('user_profile', username=following.Username) }}">{{ following.Username }}</a></li>
            {% else %}
                <li>Not following anyone</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('add_follower_by_username') }}" method="POST">
            <input type="hidden" name="follower_username" value="{{ username }}">
            <input type="text" name="following_username" placeholder="Enter username to follow">
            <button type="submit">Follow</button>
        </form>
    </div>
</body>
</html>
