<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ReadRealm</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-sha256@0.11.0/src/sha256.min.js"></script>
    <script src="{{url_for('static', filename='scripts/loginScript.js')}}"></script>
</head>

<body>
    <div class="container">
        <h2>Welcome to ReadRealm</h2>
        <h3>Login to continue</h3>
        {% if error %}
            <p class="error-message" style="color: red;">{{ error }}</p>
        {% endif %}
        <form name= "loginForm" action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
        </form>

        <p>If you don't have an account, please <a href="/register">Register</a></p> <!-- Redirect to the registration page -->
    </div>
</body>
</html>
